.Portfolio {
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 25px;
}
.Portfolio a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.portfolio__header {
  margin-bottom: 35px;
}

.Projects {
  display: grid;
}

@media (max-width: 900px) {
  .Portfolio {
    grid-gap: 10px;
    min-height: 450px;
  }
}

@media (max-width: 500px) {
  .Portfolio {
    margin: 0;
  }
}