body {
  /* height: 1140px; */
  font-family: 'Rajdhani';
  background: #525252;  
  /* background: -webkit-linear-gradient(to right, #3d72b4, rgb(82, 82, 82));  */
  background: -webkit-linear-gradient(to left top, #384559, #2c6b89, #0095af, #00c1c0, #12ebbc); 
  background: linear-gradient(to left, #384559, #2c6b89, #0095af, #00c1c0, #12ebbc); 
  
  /* background: -webkit-linear-gradient(to left top, #384559, #2c6b89, #0095af, #00c1c0, #12ebbc);
  background: linear-gradient(to left top, #384559, #2c6b89, #0095af, #00c1c0, #12ebbc); */

  /* background-repeat: no-repeat;
  background-size: initial; */

  /* background-image: url('./assets/backgroundImage/marvin.jpg');
  position: relative; */
  overflow-y: scroll;
}

.App {
  /* background-size: 100% 200%; */
  margin-left: 200px;
  margin-top: 20px;
}