body {
  font-family: 'Rajdhani';
  background: -webkit-linear-gradient(to left top,#0095af, #00c1c0, #12ebbc); 
  background: linear-gradient(to left,  #0095af, #00c1c0, #12ebbc); 
  overflow-y: scroll;
}

.App {
  margin-left: 200px;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .App {
    
  }
}