.Contact {
  width: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.Contact h1 {
  font-size: 18px;
  text-orientation: upright;
  text-align: center;
  line-height: 0.8;
  letter-spacing: 0.5px;
}

@media (max-width: 500px) {
  .Contact {
    flex-direction: row;
    right: 10px;
    bottom: -120px;
  }
}
