body {
  font-family: 'Rajdhani';
  background-image: url('./assets/backgroundImage/marvin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.App {
  background-size: 100% 200%;
  margin-left: 200px;
  margin-top: 20px;
}